
@import url('https://fonts.googleapis.com/css2? family= Macondo & display=swap');

*{
    font-weight: bold;
    font-family: 'Macondo', cursive;
    text-align: center;
    color: #161A1D ;
    text-transform: uppercase;
}

.img {
    
    background: linear-gradient(#d3d3d3 , #fefefe);
}

.fotografia {
    height: 300px auto;
    width: 300px;
    border-radius: 50%;
    padding: 5px;
    margin: 5%; 
    border: #660708 3px solid;
}